@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transition-settings {
  @apply transition ease-in duration-300;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.networkSwitchButtons {
  @apply flex-1 px-2 py-4 rounded-md text-white font-bold uppercase hover:bg-blue-800 transition-settings;
}
